.editForm-container{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    height: 100vh;  
    background-color:#121212;
}
.editForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center; 
    padding:  45px 30px;
    border-radius: 5px; 
    background: rgba(128, 128, 128, 0);
    backdrop-filter: blur(10px);
    gap: 20px;
}
.updateBtn{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(110, 224, 54);
    place-self: center;
    grid-column: span 2;
    background-color: rgb(4, 93, 4);
    color: white; 
}
.updateBtn:hover{
    background-color: rgb(34, 214, 34);
    text-shadow: 1px 1px 3px black;
}
.editPageHead{
    margin-top: 60px;
    color: #e6735c;
    text-shadow: 1px 1px 2px #111010;
}


@media only screen and (max-width:1023px) and (min-width:724px){
    .editForm{
        gap: 7px;
        padding:15px 10px;
    }
}