.editForm-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:whitesmoke;
}
.editForm{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    border: 1px solid #A69080;
    padding:35px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
    background-color: #8c8885;
    gap: 20px;
}
.updateBtn{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    place-self: center;
    grid-column: span 2 ;
}
.editPageHead{
    color: #fafcff;
    text-shadow: 1px 1px 4px #0d0d0d;
}
/*  

button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    place-self: center;
}
.address-field{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 4px;
}
input:focus{
    outline: none;
}
 */