nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    min-height: 10vh; 
    /* background-color: #eeecec;  */
    background-color: #f8f9fa; 
    box-shadow: 0px 0px 4px rgba(22, 21, 21, 0.696) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav div{
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 10px;
}
img{
    border-radius: 50%;
    width: 6%;
    height: 7%;
}
a{
    text-decoration: none;
    color: #45474B;
    font-size: 13px; 
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    padding: 7px 10px;
}
.active-link{
    border-radius: 5px;
    background-color: #42677880; 
    text-shadow: 1px 1px 1px rgb(29, 28, 28);
    box-shadow: 0px 0px 4px rgb(250, 249, 249); 
    color: #f1f3f2;
}
a:hover{
    border-radius: 5px;
    background-color: #426778; 
    text-shadow: 1px 1px 1px rgb(29, 28, 28);
    box-shadow: 0px 0px 4px rgb(11, 11, 11); 
    color: #f1f2f3;
}
.deactive-link{
    display: none;
}
.logobrand{ 
    text-shadow: 1px 0px 1px black;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    top: -1%;
    z-index: 4;
    margin-left: 70px; 
    color:#0d0d0d;
}
.logoFirstLetter{
    background-color: #45474B;
    color: white;
    padding: 4px 10px;
    border-radius: 50%;
}
#hamburger{
    color:'#5c5654';
    display: none;
}
@media only screen and (max-width:1023px) and (min-width:700px){
    .logobrand{
        top: -13%;
        left: 14%;
        width: 100%;
        margin-left: 30px;
    }
    nav{
        justify-content: space-evenly;
    }
    nav div{ 
        margin-left: 0px;
        column-gap: 5px;
        margin-right: 10px;
    }
    img{
        width: 10%;
    }
}

@media only screen and (max-width:699px) and (min-width:500px){
    nav div{ 
        margin-left: 0px;
        column-gap: 5px;
        margin-right: 10px;
    }
    .logobrand{
        width: 100%;
        margin-left: 15px;
        font-size: 1.3rem;
    }
    img{
        width: 8%;
    }
    a{
        font-size: 10px;
    }
}

@media only screen and (max-width:499px) and (min-width:300px){
    nav{
        display: grid;
        grid-template-columns: 200px 50px;
        padding-bottom: 10px;
    }
    .logobrand{
        margin-left: 15px;
        font-size: 1.2rem;
    }
    #hamburger{
        display: block;
        font-size: 1.6rem; 
    }
    nav div{
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: start;
        padding-left: 10px;
        row-gap: 10px;
        display: none;
    }
    img{
        width: 30px; 
    }
    .mobileView{
        display: flex;
    }
}