nav{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    height: 10vh; 
    background-color: #ededed; 
    box-shadow: 0px 0px 4px rgba(22, 21, 21, 0.696) !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav div{
    margin-right: 80px;
    display: flex;
    align-items: center;
    justify-content: end;
    column-gap: 20px;
}
img{
    border-radius: 50%;
    width: 7%;
    height: 7%;
}
a{
    text-decoration: none;
    color: #45474B;
    font-weight: bolder !important;
    font-size: 15px;  
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px 10px;
}
.active-link{
    border-radius: 5px;
    background-color: #426778c7; 
    text-shadow: 1px 1px 1px rgb(29, 28, 28);
    box-shadow: 0px 0px 4px rgb(250, 249, 249); 
    color: #f1f3f2;
}
a:hover{
    border-radius: 5px;
    background-color: #426778; 
    text-shadow: 1px 1px 1px rgb(29, 28, 28);
    box-shadow: 0px 0px 4px rgb(11, 11, 11); 
    color: #f1f2f3;
}
.deactive-link{
    display: none;
}
.logobrand{ 
    text-shadow: 1px 0px 1px black;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    top: -1%;
    z-index: 4;
    margin-left: 70px; 
    color:#0d0d0d;
}

@media only screen and (max-width:1023px) and (min-width:724px){
    .logobrand{
        top: -13%;
        left: 14%;
    }
    nav{
        justify-content: space-evenly;
    }
    nav div{ 
        margin-left: 150px;
        column-gap: 70px;
    }
}