.form-container{
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    align-items: center;
    height: 100vh;
    background-image: url(../images/backgroundForm.jpg);
}
.formHead{
    color: #935646;
    text-shadow: 1px 1px 6px #070708;
}
.flex{
    display: flex;
    flex-direction: column;
}
label{
    color: white;
    text-shadow: 1px 1px 3px rgb(8, 8, 8);
}
.form{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    border: 1px solid gray;
    padding:35px 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 7px black;
    background-color:rgba(195, 187, 187, 0.523);
    gap: 20px;
}
.button{
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid gray;
    place-self: center;
    grid-column: span 2;
    background-color: green;
    color: white;
    box-shadow: 0px 0px 5px rgb(79, 79, 79);
}
.address-field{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
input{
    border: 1px solid gray;
    border-radius: 4px;
    padding: 10px;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 4px rgb(154, 150, 150);
}
span{
    color: #d33017;
    font-size: 13px;
    text-shadow: 0px 0px 0px black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif !important;
}

@media only screen and (max-width:1023px) and (min-width:724px){
    .form{
        gap: 7px;
        padding:15px 10px;
    }
    input{
        padding:10px 2px;
        
    }
    .address-field{
        gap: 2px;
    }
}