.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    font-family: "Roboto", sans-serif; 
}
.table-container table,th,td{
    border-bottom: 1px solid rgba(146, 146, 146, 0.264);
    border-collapse: collapse;
    padding: 15px; 
}
table{
    box-shadow: 1px 1px 4px black;
    border-radius: 4px;
}
.colored{
    background-color: #edf3f5 !important;
}
.addUser{
    color: green !important;
}
th{
    color: rgb(62, 61, 61);
    text-align: center; 
} 
.headContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}
.headContainer button{
    position: absolute;
    left: 14%;
}

td{
    text-align: center; 
    color: rgba(28, 27, 27, 0.85);
    font-size: 17px;
    background-color: #f6f9fa; 
}
.actionBtn{
    padding:5px 10px;
}
.edit{
    color: rgb(234, 242, 234);
    background-color: green;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
.delete{
    color: white;
    background-color: red;
    border: 1px solid rgb(22, 22, 22);
    border-radius: 5px;
    box-shadow: 1px 1px 4px black;
}
.table-head{ 
    color: #493530; 
}
.visible{
    display: grid !important;
}
.invisible{
    display: none !important;
}
.backBtn{
    margin-top: 20px;
    border-radius: 5px; 
    padding: 10px;
    background-color: #7898a3;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 1px black;
    border: none;
    text-shadow: 1px 1px 4px black;
}
.backBtn:hover{
    background-color: #1b4b5c;
}
#deleteDialog{
    border: 1px solid rgba(136, 133, 133, 0); 
    border-radius: 5px;
    display: grid;  
    padding-top: 10px !important;
    padding: 30px 20px;
}
.headmsgconfirm{
    color: rgb(8, 6, 6);
    font-weight: 500;
    font-family: "Roboto", sans-serif; 
}
.headMsgCon{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#deleteDialog p{
    margin-top: 0px;
}
.x{
    font-size: 32px;
    place-self: end;
    cursor: pointer;
} 
.x:hover{
    text-shadow: 0px 0px 2px rgb(10, 6, 6);
    color: rgb(249, 6, 6) !important;
}
#deleteDialog .div{
   display: flex;
   justify-content: end;
   column-gap: 18px;
}
.no{
    color: white !important;
    background-color: gray;
    border-radius: 5px;
    padding: 4px 6px;
    cursor: pointer;
}
.no:hover{
    background-color: rgb(57, 57, 57);
    text-shadow: 1px 1px 3px black;
}
.yes{
    color: white !important;
    background-color: rgb(207, 100, 100);
    border-radius: 5px;
    padding: 4px 6px;
    cursor: pointer;
}
.yes:hover{
    background-color: rgb(208, 48, 48);
    text-shadow: 1px 1px 5px black; 
}
#msg-content{
    border-bottom: 1px solid rgba(128, 128, 128, 0.091);
    padding: 10px 0px;
    border-top:  1px solid rgba(128, 128, 128, 0.091);
    font-family: "Roboto", sans-serif; 
    font-size: 15px;
}
@media only screen and (max-width:1023px) and (min-width:724px){
    .table-container table,th,td{
        padding: 3px;
    }
    .actionBtn{
        padding: 5px 3px;
        font-size: 12px;
    }
}